#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #261327;
  color: whitesmoke;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgba(253,58,227,255, .5));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #62e3e9);
}

.nav-bar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures the navbar stays on top of other content */
  background-color: #14121d;
  width: 100%;
  height: 100px;
  /* box-sizing: border-box; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #f744c4;
}

.nav-bar button {
  display: flex;
  justify-content: baseline;
  align-items: center;
  border: 2px solid #5bf9fe;
  background-color: #14121d;
  width: 72px;
  color: #5bf9fe;
  /* margin-top: 15px; */
  margin: 10px;
  padding: 10px 2px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 80%;
}

.game-image {
  border: 2px solid #f744c4;
  box-shadow: 
    0 4px 5px #f744c4,  /* Initial glow */
    0 4px 10px #62e3e9,  /* Secondary glow color */
    0 4px 20px #00ff00;
}

.logo-headers {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-text {
  margin-right: 10px;
  font-weight: bold;
  background: linear-gradient(90deg, #f744c4, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1, h2 {
  font-weight: bold;
  background: linear-gradient( #c3ff00, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  width: 50px;
}

.search-bar {
  border: 2px solid #f744c4;
  top: 50%;
  left: 50%;
  transform: translate(-3%, 80%);
}

/* .login-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(142, 68, 173, 0.6), 0 0 20px rgba(142, 68, 173, 0.4);
} */

.loggedIn-buttons {
  /* border: 2px solid #5bf9fe; */
  width: 500%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-42%, 35%);
  
}

.login-button {
  border: 2px solid #5bf9fe;
  background-color: #14121d;
  color: #5bf9fe;
  /* margin-top: 10px; */
  /* padding: 5px 10px; */
  border-radius: 5px;
  cursor: pointer;
  width: 50px !important;
  height: 20px;
  transform: translate(180%, 45%);
  /* transition: background-color 0.3s ease; */
}

.individual-game {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f744c4;
}

.individual-game button {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.details-button {
  background-color: #14121d;
  border: 2px solid #5bf9fe;
  color: #5bf9fe;
  font-weight: bold;
  box-shadow: 
    0 2px 1px #f744c4,  /* Initial glow */
    0 1px 2px #62e3e9,  /* Secondary glow color */
    0 1px 5px #00ff00;
}

.login-modal {
  border: 1px solid #62e3e9;
  border-radius: 10px;
  background-color: #14121d;
  color: whitesmoke;
  z-index: 9;
  position:fixed;
  top:calc(50% - 200px);
  left:calc(73.5% - 250px);
  width: 75%;
  height: 300px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
}

.login-modal button {
  border-radius: 5px;
  border: 1px solid #00ff00;
  background-color: #14121d;
  color: #00ff00;
  cursor: pointer;
}

.new-user-modal {
  border: 1px solid #62e3e9;
  border-radius: 10px;
  background-color: #14121d;
  color: whitesmoke;
  z-index: 9;
  position:fixed;
  top:calc(50% - 200px);
  left:calc(73.5% - 250px);
  width: 75%;
  height: 300px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
}

.new-user-modal button {
  border-radius: 5px;
  border: 1px solid #00ff00;
  background-color: #14121d;
  color: #00ff00;
  cursor: pointer;
}

.game-details-modal {
  border: 1px solid rgb(0, 238, 255);
  border-radius: 10px;
  background-color: #14121d;
  color: whitesmoke;
  z-index: 9;
  position:fixed;
  top:calc(50% - 200px);
  left:calc(73.5% - 250px);
  width: 75%;
  height: 300px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
}

.back-button {
  /* margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border-color: #00ff00;
  cursor: pointer; */
  position: sticky !important;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #00ff00;
  background-color: #14121d;
  color: #00ff00;
  cursor: pointer;
}

.user-reviews-list {
  border: 1px solid rgb(0, 238, 255);
  border-radius: 10px;
  background-color: #14121d;
  color: whitesmoke;
  z-index: 9;
  position:fixed;
  top:calc(50% - 200px);
  left:calc(73.5% - 250px);
  width: 75%;
  height: 300px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
}

.game-review-form {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(160, 95, 154);
  color: black;
  z-index: 7;
  position:fixed;
  top:calc(50% - 200px);
  left:calc(79% - 250px);
  width: 75%;
  height: 300px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
}

.game-review {
  border: 1px solid #f744c4;
  margin: 15px;
  /* display: flex;
  justify-content: center; */
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-7%, 0%);
  box-shadow: 
    0 2px 5px #f744c4,  /* Initial glow */
    0 1px 1px #62e3e9,  /* Secondary glow color */
    0 1px 1px #00ff00;
  background: linear-gradient(45deg, rgba(247, 68, 196, 0.2), rgba(98, 227, 233, 0.2));
}

.profile button {
  border-radius: 5px;
  border: 1px solid #00ff00;
  background-color: #14121d;
  color: #00ff00;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h4 {
  color:#f744c4;
}

li {
  list-style-type: none;
  font-weight: lighter;
  color: whitesmoke;
  font-size: 90%;
}
