/* CSS colors were chosen with accessibility in mind, making sure the color contrasts were valid */
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #261327;
  color: whitesmoke;
}

.nav-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #14121d;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  border-bottom: 2px solid #f744c4;
}

.logo-headers {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  height: 4em;
  padding-right: 1em;
}

.logo-text {
  font-weight: bold;
  background: linear-gradient(90deg, #f744c4, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  margin: 0 1em; 
}

.search-bar {
  width: 140px;
  max-width: 100%;
  border: 2px solid #f744c4;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.loggedIn-buttons,
#login-button {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.loggedIn-buttons .p-button, 
#login-button, .p-button {
  border: 2px solid #5bf9fe;
  background-color: #14121d;
  color: #5bf9fe;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 0.4em 1em;
}

#login-button {
  margin-left: auto;
  border: 2px solid #5bf9fe;
  background-color: #14121d;
  color: #5bf9fe;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 0.4em .5em;
  padding-right: 0px;
}

.game-image {
  border: 2px solid #f744c4;
  box-shadow: 
    0 4px 5px #f744c4,  /* Initial glow */
    0 4px 10px #62e3e9,  /* Secondary glow color */
    0 4px 20px #00ff00;
}

h1, h2 {
  font-weight: bold;
  background: linear-gradient( #c3ff00, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.individual-game {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f744c4;
}

.individual-game button {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.details-button {
  background-color: #14121d;
  border: 2px solid #5bf9fe;
  color: #5bf9fe;
  font-weight: bold;
  box-shadow: 
    0 2px 1px #f744c4,  /* Initial glow */
    0 1px 2px #62e3e9,  /* Secondary glow color */
    0 1px 5px #00ff00;
}

.login-modal {
  border: 1px solid #62e3e9;
  border-radius: 10px;
  background-color: #14121d;
  color: whitesmoke;
  z-index: 9;
  position:fixed;
  top:calc(50% - 200px);
  left:calc(73.5% - 250px);
  width: 75%;
  height: 300px;
  max-height: 80vh;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.login-modal button {
  border-radius: 5px;
  border: 1px solid #00ff00;
  background-color: #14121d;
  color: #00ff00;
  cursor: pointer;
}

.new-user-modal {
  border: 1px solid #62e3e9;
  border-radius: 10px;
  background-color: #14121d;
  color: whitesmoke;
  z-index: 9;
  position:fixed;
  top:calc(50% - 200px);
  left:calc(73.5% - 250px);
  width: 75%;
  height: 300px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.new-user-modal input {
  width: 40%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.new-user-modal-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.new-user-modal button {
  width: 25%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #00ff00;
  background-color: #14121d;
  color: #00ff00;
  cursor: pointer;
}

.new-user-modal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.game-details-modal {
  border: 1px solid rgb(0, 238, 255);
  border-radius: 10px;
  background-color: #14121d;
  color: whitesmoke;
  z-index: 9;
  position:fixed;
  top:calc(50% - 200px);
  left:calc(73.5% - 250px);
  width: 70%;
  max-width: 100%;
  /* height: 300px; */
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
}

.game-details-modal button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #00ff00;
  background-color: #14121d;
  color: #00ff00;
  cursor: pointer;
}

.game-details-modal ul {
  padding: 0;
}

.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #00ff00;
  background-color: #14121d;
  color: #00ff00;
  cursor: pointer;
}

.user-reviews-list {
  border: 1px solid rgb(0, 238, 255);
  border-radius: 10px;
  background-color: #14121d;
  color: whitesmoke;
  z-index: 9;
  position:fixed;
  top:calc(50% - 200px);
  left:calc(73.5% - 250px);
  width: 75%;
  height: 300px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
}

.game-review-form {
  border: 1px solid rgb(0, 238, 255);
  border-radius: 10px;
  background-color: #14121d;
  color: whitesmoke;
  z-index: 9;
  position:fixed;
  top:calc(50% - 200px);
  left:calc(73.5% - 250px);
  width: 75%;
  height: 300px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-review-form form {
  display: flex;
  flex-direction: column;
  width: 100%; 
  align-items: center; 
}

.review-rating {
  display: flex;
  justify-content: center;
  transform: scale(1.5);
  color:#f744c4;
  width: 100%;
}

.game-review-form textarea {
  width: 100%; 
  max-width: 100%;
  border: 2px solid #f744c4; 
  padding: 0.5em; 
  margin-bottom: 1em; 
}

.game-review-form button {
  width: 48%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #00ff00;
  background-color: #14121d;
  color: #00ff00;
  cursor: pointer;
}

.game-review {
  border: 1px solid #f744c4;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 
    0 2px 5px #f744c4,  /* Initial glow */
    0 1px 1px #62e3e9,  /* Secondary glow color */
    0 1px 1px #00ff00;
  background: linear-gradient(45deg, rgba(247, 68, 196, 0.2), rgba(98, 227, 233, 0.2));
}

.profile button {
  border-radius: 5px;
  border: 1px solid #00ff00;
  background-color: #14121d;
  color: #00ff00;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h4 {
  color:#f744c4;
}

li {
  list-style-type: none;
  font-weight: lighter;
  color: whitesmoke;
  font-size: 90%;
}

.cancel-button {
  color: whitesmoke !important;
  border-color: whitesmoke !important;
}

.favorites-button {
  border-color: #14121d !important;
  margin-left: 0.2rem;
}


@media (min-width: 660px) { /* Medium screens (tablets) */

  .search {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
  }

  .search-bar {
    width: 300px;
    margin-bottom: 0;
  }

  .loggedIn-buttons, #login-button {
    justify-content: flex-end;
    margin-left: 20%;
  }

  .logo {
    height: 6em; /* Slightly smaller logo for medium screens */
    padding: 1em;
  }

  .logo-text {
    font-size: 1.2rem;
  }

  .loggedIn-buttons {
    width: 500%; 
  }

  .login-modal, .new-user-modal, .game-details-modal, .user-reviews-list, .game-review-form {
    width: 50%; 
    height: 400px; 
  }

  .login-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .search-bar {
    width: 150px;
  }

  .individual-game img {
    width: 250px !important;
  }

  #login-button {
    margin-left: 15em;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 0.4em 1em;
    padding-right: 0;
    padding-left: 6px;
  }
}

@media (min-width: 1024px) { /* Large screens (computers) */

  .nav-bar {
    padding: 1em 2em;
  }

  .logo {
    height: 7em;
  }

  .logo-text {
    font-size: 1.5rem;
  }

  .search-bar {
    width: 400px;
  }


  .loggedIn-buttons .p-button, #login-button .p-button {
    font-size: 1rem;
    padding: 0.5em 1.2em;
  }

  .loggedIn-buttons, #login-button {
    justify-content: flex-end;
    margin-left: 5em;
  }

  .individual-game img {
    width: 300px !important;
  }

  .game-details-modal {
    margin-top: 7%;
    height: 65%;
  }

  .game-details-modal img {
    width: 250px !important;
  }

  .game-review-form textarea {
    width: 70%; 
  }

  .game-review-form button {
    width: 30%; 
  }

  
}

@media (min-width: 1400px) { /* X-Large screens (computers) */

  .new-user-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
  }

  .new-user-modal input {
    width: 40%;
    margin-bottom: 10px;
  }

  .new-user-modal-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .new-user-modal button {
    width: 15%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .register-button {
    margin-bottom: 30px !important;
    width: 20% !important;
  }

  .new-user-sign-in-button {
    width: 12% !important;
  }

  .new-user-modal-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  h2 {
    font-size: 2.5em;
  }

  .game-details-modal {
    top:calc(50% - 100px);
    left:calc(73.5% - 450px);
  }

}